@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #ff4e50;
  background: linear-gradient(to right, #ff4e50, #f9d423);
}
main {
  background-color: white;
  padding: 15px;
  width: 600px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  align-self: flex-start;
  margin-bottom: 20px;
}
.input {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
.input input {
  width: 100%;
  padding: 20px;
  border-radius: 30px;
  border: solid 1px #ccc;
}
.input button {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 10px;
  width: 100px;
  border-radius: 30px;
  border: none;
  background-color: orange;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
}
.warning {
  position: absolute;
  bottom: -25px;
  left: 15px;
  font-size: 14px;
  color: red;
}
.hidden {
  display: none;
}
ul {
  width: 100%;
  list-style: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f9f9f9;
  border-radius: 15px;
  padding: 10px;
}

ul li input {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
ul li p.line {
  text-decoration: line-through;
  color: #ccc;
}
/* From Uiverse.io by Galahhad */
/* checkbox settings 👇 */

ul li input {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

ul li input,
ul li input *,
ul li input *::before,
ul li input *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul li input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style)
    var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

ul li input::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5)
    var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

ul li input::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6), opacity 0.1s;
}

/* actions */

ul li input:hover {
  border-color: var(--primary-color);
}

ul li input:checked {
  background: var(--primary-color);
  border-color: transparent;
}

ul li input:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg)
    scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

ul li input:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}

ul li button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
ul li button:hover {
  color: red;
  scale: 1.1;
}

@media (max-width: 600px) {
  main {
    width: 100%;
  }
  body {
    padding: 15px;
  }
}
